button {
    background-color: var(--prim-bg);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 2px 10px;
    cursor: pointer;
    color: #fff;
}

button.sec {
    background-color: var(--sec-bg);
    color: #000;
}

button:hover,
button:focus {background-color: var(--prim-hover);}

button.sec:hover,
button.sec:focus {background-color: var(--sec-hover);}

button.comic {
    border: 2px solid #000;
    border-radius: 50px;
    background-color: #000;
    color: #000;

    position: relative;
}

button.comic div {
    position: absolute;
    width: 100%; height: 100%;
    border: 2px solid #000;
    border-radius: 50px;
    background-color: #fff;
    top: -6px;
    left: -2px;

    transition: top 250ms;
}

button.comic:active div,
button.comic:focus-visible div {
    top: -2px;
}

button.ultra {
    padding: 6px 14px;
    background-color: #000;
    background: linear-gradient(140deg, rgb(170, 170, 170) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgb(170, 170, 170) 100%);

    isolation: isolate;

    color: #fff;

    position: relative;
}

button.ultra::before {
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    background-color: #000;
    border-radius: 5px;
    z-index: -1;

    position: absolute;
    top: 2px;
    left: 2px;
}