form.wform {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    margin-top: 9px;
}

form.wform .title {
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 10px;
    translate: 0 -50%;
}

.buttonbox {
    display: flex;
    gap: 10px;
}

.buttonbox > button {
    flex: 1 0 0px;
}