.input {position: relative;}

.input input[type="password"].winput,
.input input[type="text"].winput {
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 15px;
    padding: 4px 8px;
    display: block;
    font-family: inherit;
}

.input p {
    color: var(--border);
    font-size: 14px;

    position: absolute;
    top: 50%;
    left: 8px;
    translate: 0 -50%;

    pointer-events: none;
    background-color: var(--bg);
    padding: 0 1px;
    transition: translate 250ms, top 250ms;
}

.input.active p,
.input:focus-within p {
    top: 0;
    translate: 0 calc(-50% - 1px);
}