@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('components/header.css');
@import url('components/checkbox.css');
@import url('components/form.css');
@import url('components/input.css');
@import url('components/button.css');
@import url('components/popups.css');
@import url('components/tooltip.css');
@import url('components/dialog.css');

* {
    margin: 0;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--font-c);


    --bg: #fff;
    --font-c: #000;
    --border: #8f8f8f;

    --header-button-hover: #bebebeb9;

    --checkbox: #8f8f8f;

    --sec-bg: #b8b8b8;
    --sec-hover: #a3a3a3;
    --prim-bg: blue;
    --prim-hover: rgb(0, 0, 230);
}

body.dark {
    --bg: #000;
    --font-c: #fff;
}

img {
    display: block;
}

body.dark img.light {display: none;}
body:not(.dark) img.dark {display: none;}